// Finlay Hire -----------------------------------------------------------------

// Start Resets and Global Styles ----------------------------------------------
    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    html, body {
        color: @textCol;
        font-family: @poppins;
        background-color: #333438;
    }
    p {
        color: #a8a9ad;
    }
    a {
        color: white !important;
        &:hover {
            //text-decoration: underline;
        }
    }
    ul {
        .list-reset;
    }
// End Resets and Global Styles ------------------------------------------------

// Start Global Typography Styles ----------------------------------------------h
    p {
        margin-top: 0;
    }
    a {
        text-decoration: none;
        color: @linkCol;
        transition: all .3s;
    }
// End Global Typography Styles ------------------------------------------------

// Start Global Form Field Styles ----------------------------------------------
// End Global Form Field Styles ------------------------------------------------

// Start Template/Layout Styles ------------------------------------------------
    #outerwrap {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    #innerwrap {
        position: relative;
        width: 100%;
    }
    .internal-container {
        max-width: @containerMaxWidth;
        width: @containerWidth;
        margin: 0 auto;
    }
// End Template/Layout Styles --------------------------------------------------

// Start Global Form Field Styles ----------------------------------------------
    .btn {
        display: inline-block;
        overflow: hidden;
        width: auto;
        padding-right: 22px;
        span {
            display: inline-block;
            height: 52px;
            margin-left: -22px;
            padding: 0.75em 3em 0.75em 4em;
            font-family: @roboto;
            font-size: 1.125em; // 18px @ 16px
            font-weight: @font-bold;
            line-height: 1.25em;
            text-transform: uppercase;
            color: white;
            background-color: #333438;
            transform: skew(-40deg);
            a {
                display: inline-block;
                transform: skew(40deg);
                &:after {
                    font-family: @poppins;
                    font-size: 1em;
                    font-weight: @font-regular;
                    padding-left: 0.3em;
                    content: '+';
                    color: #a8a9ad;
                }
            }
        }
    }
    .buttonwrap {
        .btn;
    }
// End Global Form Field Styles ------------------------------------------------

// Start Menu Styles -----------------------------------------------------------
    #navwrap {
        background: pink;
        position: absolute;
    }
    // Mobile Menu Styles -----------------------------------------------------------
    #menu {


    } // end mobile #menu

    // Desktop Menu Styles -----------------------------------------------------------
    @media screen and (min-width: @bp_mobileMenu) {
        #navwrap {
            .internal-container {
                margin: 0;
                width: auto;
                max-width: none;
            }
            top: 125px;
            right: 0;
            z-index: 1;
        }
        #menu {
            ul {
                li {
                    &.item-101 {
                        // disable home option
                        display: none !important;
                    }
                }
            }
        } // end desktop #menu
    }
// End Menu Styles -------------------------------------------------------------

/*
--------------------------------------------------------------------------------
Site-Wide Styles
--------------------------------------------------------------------------------
*/
    // Social Icons section ----------------------------------------------------
        #topwrap {
            height: 100px;
            position: absolute;
            right: 0;
            width: 100%;
            z-index: 1;
            .internal-container {
                width: 100%;
                max-width: none;
            }
            a.nav-btn {
                content: url('../images/mob-menu.png');
                top: 125px;
                left: auto;
                right: 10%;
                z-index: 1;
                width: 32px;
            }
        }
        #top1 {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (min-width: 500px) {
            #topwrap {
                width: @containerWidth;
                .internal-container {
                    position: relative;
                }
            }
            #top1 {
                top: 42px;
                left: 0;
                transform: none;
            }
        }
        //
        .moduletable.header-socials {
            p {
                display: none;
            }
            ul {
                margin: 0;
                li {
                    font-size: 1.5em;
                    margin-right: 0.5em;
                    display: inline;
                    color: #fff;
                    a {
                        transition: transform 0.3s ease;
                        &:hover {
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
        @media screen and (min-width: 1000px) {
            // bring back hidden stuff
            .moduletable.header-socials {
                p {
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: @font-light;
                    color: #fff;
                    margin-right: 2.125em; // 34px @ 16px
                }
                ul {
                    display: inline-block;
                }
            }
        }
    // End Social Icons section ------------------------------------------------

    // Contacts/search section -------------------------------------------------
        #top2 {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translateX(-50%);
        }
        @media screen and (min-width: 500px) {
            #top2 {
                transform: none;
                top: 40px;
                left: auto;
                right: 5%;
            }
        }
        .moduletable.header-email, .moduletable.header-phone, .moduletable.header-contact {
            // hide on mobile
            display: none;
        }
        .moduletable.header-search {
            a {
                text-transform: uppercase;
                font-weight: @font-light;
                &:before {
                    .fontawesome;
                    content: '\f002';
                    margin-right: 0.5em;
                }
            }
        }
        @media screen and (min-width: 1000px) {
            // bring back hidden stuff
            .moduletable.header-email, .moduletable.header-phone, .moduletable.header-contact, .moduletable.header-search {
                display: inline-block;
                p {
                    margin-bottom: 0;
                }
            }
            .moduletable.header-email {
                margin-right: 2.25em; // 36px @ 16px
                p {
                    &:before {
                        .fontawesome;
                        content: '\f003';
                        margin-right: 0.5em;
                    }
                }
            }
            .moduletable.header-phone {
                font-size: 1.25em; // 24px @ 16px
                margin-right: 2.292em; // 55px @ 24px
                p {
                    &:before {
                        .fontawesome;
                        content: '\f095';
                        margin-right: 0.5em;
                    }
                }
            }
            .moduletable.header-contact {
                position: relative;
                margin-right: 100px;
                p {
                    a {
                        text-transform: uppercase;
                        font-weight: @font-semibold;
                    }
                    &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 80px;
                        height: 1px;
                        content: '\a0';
                        background-color: #ebebeb;
                        margin-left: 1em;
                    }
                }
            }
        }
    // End Contacts/search section ---------------------------------------------

    // Logo Bar section --------------------------------------------------------
        .moduletable.header-bar {
            // mobile header
            position: absolute;
            top: 88px;
            right: 0;
            height: 100px;
            width: 100%;
            background-color: #fff;
            img.logo {
                max-width: 50%;
                margin-left: 20px;
                .vertical-center;
            }
        }
        @media screen and (min-width: 500px) {
            .moduletable.header-bar {
                height: 112px;
                width: 100%;
                &:before {
                    position: absolute;
                    top: 0;
                    left: -114px;
                    vertical-align: middle;
                    content: url('../images/mob-menu-trim.png');
                }
                img.logo {
                    margin: 0 auto;
                }
            }
        }
        .moduletable.header-brands {
            display: none; // mobile hidden
        }
    // End Logo Bar section ----------------------------------------------------

    // Brands Bar section ------------------------------------------------------
        #top4 {
            // brands bar hidden on mobile
            display: none;
        }
        @media screen and (min-width: 1000px) {
            #top4 {
                display: block;
            }
            .moduletable.header-brands {
                position: absolute;
                top: 202px;
                right: 0;
                width: 80%;
                p {
                    position: relative;
                    display: inline;
                    color: #fff;
                    text-transform: uppercase;
                    padding-right: 130px;
                    &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 100px;
                        height: 1px;
                        content: '\a0';
                        background-color: #ebebeb;
                        margin-left: 1em;
                    }
                }
                ul {
                    display: inline;
                    margin:0;
                    padding: 2em;
                    height: 70px;
                    background-color: #e9e9e9;
                    li {
                        display: inline;
                        margin-right: 2em;
                    }
                }
            }
        }
    // End Brands Bar section --------------------------------------------------

    // Content

    // 3 x CTA section 😊-------------------------------------------------------
        #bottomwrap {
            //border-top: 1px dashed black;
            background-color: #fff;
            .internal-container {
                width: 100%;
                max-width: none;
            }
        }
        #bottom3 {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 3em; // mobile grid padding
        }
        .moduletable.what-customers-say, .moduletable.where-we-are, .moduletable.follow-us {
            position: relative;
            font-family: @roboto;
            font-size: 1.5em;
            line-height: 1.25em;
            font-weight: bold;
            text-transform: uppercase;
            height: 115px;
            margin-bottom: 0.5em;
            p {
                .vertical-center;
                display: inline-block;
                margin-left: 1em;
                margin-bottom: 0;
                color: white;
                span {
                    margin-right: 1em;
                }
            }
        }
        .custom.what-customers-say, .custom.where-we-are, .custom.follow-us {
            height: 115px;
        }
        .custom.what-customers-say, .custom.where-we-are {
            p {
                a {
                    &:after {
                        content: '+';
                        font-family: @poppins;
                        font-size: 1.1em;
                        font-weight: @font-regular;
                        padding-left: 0.3em;
                    }
                }
            }
        }

        .custom.what-customers-say {
            //background-image: url(../images/follow-us-bg.jpg);
            background-position: 25% 65%;
            background-size: cover;
        }
        .custom.where-we-are {
            background-color: #6fcee4;
        }


        .custom.follow-us {
            //background-image: url(../images/follow-us-bg.jpg);
            //background-position: bottom left;
            background-position: 25% 65%;
            background-size: cover;
        }
        .moduletable.follow-us {
            p {
                margin-right: 1em;
                i {
                    margin-right: 0.4em;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
        @media screen and (min-width: 600px) {
            .moduletable.what-customers-say, .moduletable.where-we-are, .moduletable.follow-us {
                font-size: 1.6em;
                p {
                    margin-left: 2.65em;
                }
            }
        }
        @media screen and (min-width: 800px) {
            .moduletable.what-customers-say, .moduletable.where-we-are, .moduletable.follow-us {
                font-size: 1.65em;
            }
        }
        @media screen and (min-width: 1000px) {
            .moduletable.what-customers-say, .moduletable.where-we-are, .moduletable.follow-us {
                font-size: 1.7em;
            }
        }
        @media screen and (min-width: 1200px) {
            #bottomwrap {
                padding-top: 5em; // desktop grid padding
            }
            #bottom3 {
                display: flex; // balance all 3 heights
                width: 100%;
                padding: 0 15px;
                margin-bottom: 0.25em;
            }
            #bottom4 {
                clear: both;
            }
            // 3 x CTA go side by side
            @skewAngle: 40deg;
            .moduletable.what-customers-say, .moduletable.where-we-are, .moduletable.follow-us {
                float: left;
                width: 35.3%;
                font-size: 1.4em;
                background-color: transparent;
                p {
                    margin-left: 4.65em;
                }
            }
            .moduletable.what-customers-say, .moduletable.follow-us {
                overflow: hidden;
            }
            .moduletable.where-we-are, .moduletable.follow-us {
                margin-left: -40px;
            }
            .custom.what-customers-say, .custom.where-we-are, .custom.follow-us {
                transform: skew(-@skewAngle);
                height: 115px;
                width: 100%;
                p {
                    margin-left: 0;
                    width: 100%;
                    text-align: center;
                    transform: translateY(-50%) skew(@skewAngle);
                }
            }
            .custom.what-customers-say {
                margin: 0 0 0 -57px;
            }
            .custom.follow-us {
                margin: 0 0 0 57px;
            }
        }
        @media screen and (min-width: 1600px) {
            .moduletable.what-customers-say, .moduletable.where-we-are, .moduletable.follow-us {
                font-size: 1.875em; // 30px @ 16px
            }
        }
    // End 3 x CTA section -----------------------------------------------------

    // Address/Menu section 😊--------------------------------------------------
        #bottom4 {
            background-color: #ececec;
            padding: 3em 0; // mobile grid padding
        }
        .moduletable.address-logo {
            text-align: center;
            .logo {
                display: block;
                margin: 0 auto;
                max-width: 75%;
            }
            .buttonwrap {
                margin: 3em auto;
            }
        }
        .moduletable.address-menu {
            display: none; // mobile hide
        }
        .moduletable.address-address {
            .info {
                text-align: center;
                max-width: 75%;
                margin: 0 auto;
                font-size: 1.25em; // 18px @ 16px
                color: #c4c5cb;
                text-transform: uppercase;
            }
        }
        @media screen and (min-width: 1000px) {
            #bottom4 {
                padding: 5em 0; // desktop grid padding
            }
            .moduletable.address-logo {
                // hide back to top button
                .buttonwrap {
                    display: none;
                }
            }
            .moduletable.address-menu {
                display: block;
                text-align: center;
                .nav.menu {
                    max-width: 80%;
                    margin-right: auto;
                    padding: 2em 0;
                    margin: 0 auto;
                    li {
                        display: inline;
                        margin-right: 2.75em;
                        &.item-101 {
                            display: none;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            font-size: 1.313em; // 21px @ 16px
                            line-height: 2em;
                            color: #a8a9ad !important;
                        }
                    }
                }
            }
            .moduletable.address-address {
                .info {
                    font-size: 1em;
                }
            }
        }
    // End Address/Menu section ------------------------------------------------

    // Footer section 😊--------------------------------------------------------
        #footerwrap {
            background-color: #ee3a43;
            padding: 3em 0; // mobile grid padding
            //
            font-size: 1.125em; // 18px @ 16px
            line-height: 2.778em; // 50px @ 18px
        }
        .moduletable.footer-menu,
         .moduletable.footer-copyright {
            width: 90%;
            margin: 0 auto;
            text-align: center;

        }
        .moduletable.footer-menu {
            .nav.menu {
                color: white;
                li {
                    text-transform: uppercase;
                }
            }
        }
        .moduletable.footer-copyright {
            .copyright, .built-by {
                margin-bottom: 0;
                color: white;
            }
            .built-by span {
                font-weight: @font-bold;
                color: #bbd032;
            }
        }
        @media screen and (min-width: 1000px) {
            #footerwrap {
                font-size: 0.875em; // 14px @ 16px
                text-align: left;
                padding: 5em; // desktop grid padding
            }
            .moduletable.footer-menu {
                float: left;
                width: 50%;
                ul.menu {
                    margin: 0;
                    li {
                        display: inline-block;
                        margin-right: 2.3em;
                    }
                }
            }
            .moduletable.footer-copyright {
                text-align: right;
                float: right;
                width: 50%;
                p {
                    display: inline-block;
                }
                p.copyright {
                    position: relative;
                    padding-right: 50px; // allow for mid line
                    margin-right: 1em;
                    &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 36px;
                        height: 1px;
                        content: 'x';
                        background-color: #fff;
                        margin-left: 1em;
                    }
                }
            }
        }
    // End footer section ------------------------------------------------------

 /*
--------------------------------------------------------------------------------
End Site-Wide Styles
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
Homepage Styles
--------------------------------------------------------------------------------
*/
body.home {
    // grid styles -------------------------------------------------------------
        #grid1wrap, #grid2wrap  {
            background-color: #fff;
            .internal-container {
                width: 100%;
                max-width: none;
            }
        }
    // End grid styles ---------------------------------------------------------

    // Banner section ------------------------------------------------------
        #bannerwrap {
            .internal-container {
                width: 100%;
                max-width: none;
            }
        }
        .moduletable.home-banner {
            position: relative;
            img {
                width: 100vw;
            }
            .content-wrapper {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                padding: 18em 2.25em;
                p {
                    font-size: 1.5em; // 24px @ 16px
                    color: #fff;
                    &.intro {
                        line-height: 1.25em;
                        text-transform: uppercase;
                    }
                    &.summary {
                        max-width: 80%;
                        line-height: 1.333em;
                    }
                }
                .intro {
                    position: relative;
                    &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 166px;
                        height: 1px;
                        content: '\a0';
                        background-color: #ebebeb;
                        margin-left: 1em;
                    }
                }
                .heading ({
                    position: relative;
                    margin-top: 0;
                    font-family: @roboto;
                    font-size: 3.5em;
                    line-height: 1.25em;
                    text-transform: uppercase;
                    color: #fff;
                    span {
                        &:first-child {
                            color: #6fcee4;
                        }
                        &:not(:first-child) {
                            color: #ee3a43;
                        }
                    }
                });
                .buttonwrap {
                    margin: 2em auto;
                }
            }
        }
    // End Banner section --------------------------------------------------

    // What We Do section --------------------------------------------------
        #grid3 {
            border-top: 10px solid #6fcee4;
            padding: 3em 0; // mobile grid padding
        }
        .moduletable.what-we-do {
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            p {
                font-size: 1.5em; // 24px @ 16px
                &.intro {
                    line-height: 1.25em;
                    text-transform: uppercase;
                }
                &.lead {
                    line-height: 1.333em;
                }
            }
            .intro {
                position: relative;
                &:after {
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 166px;
                    height: 1px;
                    content: '\a0';
                    background-color: #ebebeb;
                    margin-left: 1em;
                }
            }
            .heading ({
                position: relative;
                margin-top: 0;
                font-family: @roboto;
                font-size: 3.5em;
                line-height: 1.25em;
                text-transform: uppercase;
                color: #a8a9ad;
                span {
                    &:first-child {
                        color: #6fcee4;
                    }
                    &:not(:first-child) {
                        color: #ee3a43;
                    }
                }
            });
            .buttonwrap {
                margin: 2em auto;
            }
        }
        @media screen and (min-width:1000px) {
            .moduletable.what-we-do {
                .custom.what-we-do {
                    width: 50%;
                }
                img {
                    top: -165px;
                }
            }
        }
    // End What We Do section ----------------------------------------------

    // Our Services section ------------------------------------------------
        #grid4 {
            border-top: 10px solid #6fcee4;
            background-color: #ee3a43;
            background-image: url('../images/services/services-bg.jpg');
            background-repeat: no-repeat;
            background-size: auto 66%;
            padding: 3em 0; // mobile grid padding
        }
        .moduletable.services-carousel {
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            .service-descr {
                p {
                    font-size: 1.5em; // 24px @ 16px
                    line-height: 1.250em; // 30px @ 24px
                    color: #fff;
                    margin-bottom: 0;
                }
                .heading ({
                    font-family: @roboto;
                    font-size: 3.500em; // 56px @ 16px
                    line-height: 1.25em;
                    color: #fff;
                    text-transform: uppercase;
                    margin: 0.5em 0;
                    span {
                        color: #ee3a43;
                    }
                });
                .intro {
                    position: relative;
                    text-transform: uppercase;
                    &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 166px;
                        height: 1px;
                        content: '\a0';
                        background-color: #ebebeb;
                        margin-left: 1em;
                    }
                }
                .buttonwrap {
                    margin: 2em 0;
                    span {
                        background-color: #a8a9ad;
                        a {
                            &:after {
                                color: #333438;
                            }
                        }
                    }
                }
            }
            .service-image {
                max-height: 300px;
                .overlay {
                    position: absolute;
                    right: 0;
                    bottom: 5%;
                    width: 75%;
                }
            }
            .owl-dots {
                text-align: left;
                margin-top: 3em;
                .owl-dot {
                    border: 2px solid #fff;
                    margin-right: 28px;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        margin: 0;
                        height: 18px;
                        width: 18px;
                        border: 3px solid transparent;
                        border-radius: 0px;
                        background: none;
                    }
                    &.active {
                        span {
                            background-color: #fff;
                        }
                    }
                }
            }
            .owl-nav {
                margin-top: 3.5em;
                text-align: right;
                position: absolute;
                right: 0;
                .owl-prev, .owl-next {
                    border-radius: 0;
                    border: 2px solid #fff;
                    background-color: #333438;
                    box-shadow: 0px 8px 26.68px 2.32px rgba(99, 99, 99, 0.4);
                    width: 51px;
                    height: 51px;
                    top: 50%;
                    transform: translateY(-50%);
                    text-indent: -9999px;
                    &:before, &:after {
                        font-family: @poppins;
                        font-size: 2em; // 30px @ 16px;
                        color: #fff;
                    }
                }
                .owl-prev {
                    &:before {
                        content: '<';
                        position: absolute;
                        left: 30%;
                        top: 50%;
                        transform: translateY(-50%);
                        text-indent: 0;
                    }
                }
                .owl-next {
                    // position: absolute;
                    // right: -135px;
                    // top: 50%;
                    &:before {
                        content: '>';
                        position: absolute;
                        left: 30%;
                        top: 50%;
                        transform: translateY(-50%);
                        text-indent: 0;
                    }
                }
            }
        }
        @media screen and (min-width: 1000px) {
            #grid4 {
                padding: 3em 0; // desktop grid padding
                background-size: 66%;
            }
            .moduletable.services-carousel {
                .service-descr, .service-image {
                    width: 50%;
                    float: left;
                }
                .service-image {
                    position: relative;
                    img {
                        max-height: 300px;
                    }
                    .overlay {
                        bottom: 15%;
                        width: auto;
                    }
                }
                .owl-dots, .owl-nav {
                    margin-top: 0;
                }
                .owl-dots {
                    text-align: right;
                    margin-right: 475px;
                }
                .owl-nav {
                    .owl-next {
                        margin-left: 28px;
                    }
                }
            }
        }
    // End Our Services section ------------------------------------------------

    // Our Products section 😊 -------------------------------------------------
        #grid5 {
            border-top: 10px solid #6fcee4;
            padding: 3em 0; // mobile grid padding
        }
        .moduletable.our-products {
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            margin-bottom: 3em;
            p {
                font-size: 1.5em; // 24px @ 16px
                line-height: 1.250em; // 30px @ 24px
                color: #a8a9ad;
                margin-bottom: 0;
            }
            .intro {
                position: relative;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 166px;
                    height: 1px;
                    content: '\a0';
                    background-color: #ebebeb;
                    margin-left: 1em;
                }
            }
            .heading ({
                font-family: @roboto;
                font-size: 3.500em; // 56px @ 16px
                line-height: 1.25em;
                color: #a8a9ad;
                text-transform: uppercase;
                margin: 0.5em 0;
                span {
                    color: #ee3a43;
                }
            });
            ul.options {
                padding: 0;
                li {
                    .btn;
                    font-size: 1.250em; // 20px @ 16px
                    line-height: 1.25em;
                    box-shadow: none;
                    width: 100%;
                    margin: 0.5em 0;
                                                                                //width: 49%;
                    display: inline-block;
                    padding-right: 1.5em;
                    padding-left: 1.5em;
                    &:not(:first-child) {
                        background-color: #6fcee4;
                        &:after {
                            color: #333438;
                        }
                    }
                    &:after {
                        content: '+';
                        padding-left: 0.5em;
                    }
                }
            }
        }
        .moduletable.products-carousel {
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            .news-overlay {
                text-align: center;
                .product-title {
                    position: relative;
                    &:before {
                        position: absolute;
                        left: 0;
                        top: 51%;
                        width: 100%;
                        height: 1px;
                        content: '\a0';
                        background-color: #ebebeb;
                    }
                    .heading ({
                        display: inline-block;
                        padding: 0 0.5em;
                        background-color: white;
                        position: relative;
                        font-family: @roboto;
                        font-size: 2.188em; // 35px @ 16px
                        line-height: 1.25em;
                        color: #333438;
                    });
                }
                p {
                    font-size: 1.875em; // 30px @ 16px
                    line-height: 1.433em; // 43px @ 30px
                    max-width: 65%;
                    margin: 0 auto;
                }
                .buttonwrap {
                    margin: 2em 0;
                    span {
                        padding: 0.75em 2em 0.75em 3em;
                        background-color: #ee3a43;
                        a {
                            &:after {
                                color: #333438;
                            }
                        }
                    }
                }
            }
            .owl-prev, .owl-next {
                border-radius: 0;
                border: 2px solid #fff;
                background-color: #a8a9ad;
                box-shadow: 0px 8px 26.68px 2.32px rgba(99, 99, 99, 0.4);
                width: 51px;
                height: 51px;
                top: 50%;
                transform: translateY(-50%);
                text-indent: -9999px;
                &:before, &:after {
                    font-family: @poppins;
                    font-size: 2em; // 30px @ 16px;
                    color: #fff;
                }
            }
            .owl-prev {
                position: absolute;
                left: -135px;
                &:before {
                    content: '<';
                    position: absolute;
                    left: 30%;
                    top: 50%;
                    transform: translateY(-50%);
                    text-indent: 0;
                }
            }
            .owl-next {
                position: absolute;
                right: -135px;
                top: 50%;
                &:before {
                    content: '>';
                    position: absolute;
                    left: 30%;
                    top: 50%;
                    transform: translateY(-50%);
                    text-indent: 0;
                }
            }
            .owl-dot {
                border: 2px solid #a8a9ad;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    margin: 0;
                    height: 18px;
                    width: 18px;
                    border: 3px solid white;
                    border-radius: 0px;
                    background-color: #fff;
                }
                &.active {
                    span {
                        background-color: #a8a9ad;
                    }
                }
            }
        }
        @media screen and (min-width:920px) {
            .moduletable.products-carousel {
                .owl-dot {
                    margin-right: 20px;
                }
            }
        }
        @media screen and (min-width:1000px) {
            #grid5 {
                padding: 5em 0; // desktop grid padding
            }
            .moduletable.products-carousel {
                .owl-stage {
                    display: flex;
                    .owl-item {
                        display: flex;
                        li {
                            margin-top: auto;
                        }
                    }
                }
                .owl-dot {
                    margin-right: 30px;
                }
                .news-overlay {
                    .heading ({
                        font-size: 1.5em; // 24px @16px
                    });
                    p {
                        max-width: 90%;
                        font-size: 1.313em; // 21px @ 16px
                    }
                    a.readmore {
                        font-size: 1.125em; // 18px @ 16px
                    }
                }
            }
        }
    // End Our Products section ------------------------------------------------

    // Latest News section -----------------------------------------------------
        #grid6 {
            border-top: 10px solid #6fcee4;
            background-color: #ee3a43;
            background-image: url('http://placekitten.com/1000/600');
            background-repeat: no-repeat;
            padding: 5em 0;
        }
        .moduletable.the-latest {
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            p {
                font-size: 1.5em; // 24px @ 16px
                line-height: 1.250em; // 30px @ 24px
                color: #fff;
            }
            .heading ({
                font-family: @roboto;
                font-size: 3.500em; // 56px @ 16px
                line-height: 1.25em;
                color: #fff;
                text-transform: uppercase;
                margin: 0.5em 0;
                span {
                    color: #ee3a43;
                }
            });
            .intro {
                position: relative;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 166px;
                    height: 1px;
                    content: '\a0';
                    background-color: #ebebeb;
                    margin-left: 1em;
                }
            }
            .buttonwrap {
                margin: 3em auto;
                span {
                    background-color: #a8a9ad;
                    a {
                        &:after {
                            color: #333438;
                        }
                    }
                }
            }
        }
        .moduletable.news-carousel {
            position: relative;
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            .owl-item {
                max-height: 300px;
            }
            .news-overlay {
                position: absolute;
                top: 0;
                padding: 2.5em 3em;
                .share {
                    float: right;
                    font-size: 1.125em; // 18px @ 16px
                    line-height: 1.125em;
                    color: #fff;
                    font-weight: 500;
                    text-transform: uppercase;
                    &:before {
                        .fontawesome;
                        content: '\f064';
                        padding-right: 0.5em;
                    }
                }
                .date {
                    position: relative;
                    font-size: 1.125em; // 18px @ 16px
                    line-height: 1.125em;
                    color: #fff;
                    &:before {
                        .fontawesome;
                        content: '\f017';
                        padding-right: 0.6em;
                    }
                    &:after {
                        position: absolute;
                        top: 51%;
                        overflow: hidden;
                        width: 166px;
                        height: 1px;
                        content: '\a0';
                        background-color: #ebebeb;
                        margin-left: 1em;
                    }
                }
                .news-title {
                    font-family: @roboto;
                    font-size: 1.5em; // 24px @ 16px
                    line-height: 1.25em;
                    font-weight: @font-bold;
                    margin: 1.5em 0 1em;
                    color: #fff;
                }
                p {
                    color: #fff;
                    font-size: 1.313em; // 21px @ 16px
                    line-height: 1.429em; // 30px @ 21px
                    margin-bottom: 1em;
                }
                .readmore {
                    .btn;
                    margin: 0;
                    &:after {
                        content: '+';
                        padding-left: 0.75em;
                    }
                }
            }
            .owl-dots {
                text-align: left;
                margin-top: 3em;
                .owl-dot {
                    border: 2px solid #fff;
                    margin-right: 28px;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        margin: 0;
                        height: 18px;
                        width: 18px;
                        border: 3px solid transparent;
                        border-radius: 0px;
                        background: none;
                    }
                    &.active {
                        span {
                            background-color: #fff;
                        }
                    }
                }
            }
            .owl-nav {
                margin-top: 3.5em;
                text-align: right;
                position: absolute;
                right: 0;
                .owl-prev, .owl-next {
                    border-radius: 0;
                    border: 2px solid #fff;
                    background-color: #333438;
                    box-shadow: 0px 8px 26.68px 2.32px rgba(99, 99, 99, 0.4);
                    width: 51px;
                    height: 51px;
                    top: 50%;
                    transform: translateY(-50%);
                    text-indent: -9999px;
                    &:before, &:after {
                        font-family: @poppins;
                        font-size: 2em; // 30px @ 16px;
                        color: #fff;
                    }
                }
                .owl-prev {
                    &:before {
                        content: '<';
                        position: absolute;
                        left: 30%;
                        top: 50%;
                        transform: translateY(-50%);
                        text-indent: 0;
                    }
                }
                .owl-next {
                    &:before {
                        content: '>';
                        position: absolute;
                        left: 30%;
                        top: 50%;
                        transform: translateY(-50%);
                        text-indent: 0;
                    }
                }
            }
        }
    // End Latest News section ---------------------------------------------

    // Subscribe section ---------------------------------------------------
        #grid7 {
            background-color: #a8a9ad;
        }
        .moduletable.subscribe-magazine {
            width: 90%;
            margin: 0 auto;
            padding: 3em 0;
            .heading ({
                font-family: @roboto;
                font-size: 1.875em; // 30px @ 16px
                color: white;
                text-transform: uppercase;
            });
            input {
                text-indent: 0.5em;
                width: 100%;
                webkit-appearance: none;
                border: none;
                border-bottom: 1px solid #818286;
                background-color: transparent;
                color: white;
                &:focus {
                    // strip drop shadow
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    color: #fff;
                }
                &:-moz-placeholder {
                    /* FF 4-18 */
                    color: #fff;
                }
                &::-moz-placeholder {
                    /* FF 19+ */
                    color: #fff;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #fff;
                }
            }
            button {
                .btn;
                // border: none;
                // padding: 0 2.5em;
                // &:after {
                //     content: '+';
                //     padding-left: 0.5em;
                // }
            }
        }
        @media screen and (min-width: 800px) {
            .moduletable.subscribe-magazine {
                input {
                    margin-right: 3em;
                    width: 68%;
                }
            }
        }
        @media screen and (min-width: 1200px) {
            #grid7 {
                // allow for bar positioning
                position: relative;
            }
            .moduletable.subscribe-magazine {
                max-width: @containerWidth;
                position: absolute;
                width: 100%;
                top: -60px;
                right: 0;
                background-color: #a8a9ad;
                box-shadow: 0px 3px 21px 0px rgba(25, 25, 25, 0.34);
                height: 112px;
                padding: 0;
                &:before {
                    position: absolute;
                    top: 0;
                    left: -113px;
                    vertical-align: middle;
                    content: url(../images/subscribe-trim.png);
                }
                h2 {
                    display: inline-block;
                    margin: 0;
                    margin-left: 1.4em; // 42px @ 30px
                    margin-right: 2.567em; // 77px @ 30px
                }
                input {
                    width: 200px;
                    margin-right: 4em;
                }
            }
        }
        @media screen and (min-width: 1300px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 300px;
                }
            }
        }
        @media screen and (min-width: 1400px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 350px;
                }
            }
        }
        @media screen and (min-width: 1500px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 400px;
                }
            }
        }
        @media screen and (min-width: 1600px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 450px;
                }
            }
        }
        @media screen and (min-width: 1700px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 600px;
                }
            }
        }
        @media screen and (min-width: 1800px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 700px;
                }
            }
        }
        @media screen and (min-width: 1900px) {
            .moduletable.subscribe-magazine {
                input {
                    width: 800px;
                }
            }
        }
    // End subscribe section -----------------------------------------------

    // Contact Us section --------------------------------------------------
        #grid8 {
            // 3 x CTA + Address bar
            border-top: 10px solid #6fcee4;
        }
        .moduletable.contact-us {
            width: @containerWidth;
            max-width: @containerMaxWidth;
            margin: 0 auto;
            padding: 2em 0;
            p {
                font-size: 1.5em; // 24px @ 16px
                &.intro {
                    line-height: 1.25em;
                    text-transform: uppercase;
                }
                &.lead {
                    line-height: 1.333em;
                }
            }
            .intro {
                position: relative;
                &:after {
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 166px;
                    height: 1px;
                    content: '\a0';
                    background-color: #ebebeb;
                    margin-left: 1em;
                }
            }
            .heading ({
                position: relative;
                margin-top: 0;
                font-family: @roboto;
                font-size: 3.5em;
                line-height: 1.25em;
                text-transform: uppercase;
                color: #a8a9ad;
                span {
                    color: #ee3a43;
                }
            });
        }
        @media screen and (min-width: 1000px) {
            .moduletable.contact-us {
                .custom.contact-us {
                    max-width: 85%;
                }
            }
        }
        @media screen and (min-width: 1200px) {
            #grid8 {
                background-image: url('../images/wwd-crusher.png');
                background-repeat: no-repeat;
                background-position: right 100px;
            }
            .moduletable.contact-us {
                .custom.contact-us {
                    max-width: 45%;
                }
                padding-top:10em;
            }
        }
        // brands blocks -------------------------------------------------------
            .moduletable.contact-brands {
                // hide for mobile
                display: none;
                width: @containerWidth;
                max-width: @containerMaxWidth;
            }
            @media screen and (min-width: 1200px) {
                .moduletable.contact-brands {
                    display: block;
                    margin: 0 auto;
                    padding: 2em 0;
                    .brands {
                        font-size: 0; // fix small gap between li
                        border-top: 1px solid #e3e3e3;
                        border-bottom: 1px solid #e3e3e3;
                        li {
                            padding: 0;
                            margin: 0;
                            display: inline-block;
                            vertical-align: top;
                            width: 20%;
                            height: 185px;
                            border-left: 1px solid #e3e3e3;
                            background-repeat: no-repeat;
                            background-position: center center;
                            &:last-child {
                                border-right: 1px solid #e3e3e3;
                            }
                            &.hire {
                                background-image: url(../images/contact/brands/finlay-hire.png);
                            }
                            &.sure {
                                background-image: url(../images/contact/brands/sure.png);
                            }
                            &.plant {
                                background-image: url(../images/contact/brands/plant.png);
                            }
                            &.aggregate {
                                background-image: url(../images/contact/brands/aggregate.png);
                            }
                            &.eps {
                                background-image: url(../images/contact/brands/eps.png);
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
    // End Contact Us section --------------------------------------------------
}
/*
--------------------------------------------------------------------------------
End Homepage Styles
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
Category / Blog / News Styles
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
End Category / Blog / News Styles
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
Single Article Styles
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
End Single Article Styles
--------------------------------------------------------------------------------
*/
