// Google Webfont import
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500|Roboto+Condensed:400,700');

// Variables
@containerMaxWidth: 1400px;
@containerWidth: 90%;
@bp_mobileMenu: 780px;
@bodyCol: #f4f4f4;
@mobileMenuBgCol: #333438;
@textCol: #333;
@btnBgCol: #00aedb;
@btnCol: #fff;
@linkCol: blue;

// Fonts
@roboto:         'Roboto Condensed', sans-serif;
@poppins:        'Poppins', sans-serif;
@font-light:     300;
@font-regular:   500;
@font-semibold:  600;
@font-bold:      700;
@font-superbold: 900;

